@import './mods.css';
@import './vars.css';
@import './reset.css';
@import './controller.css';
@import './sidemenu.css';
@import './media.css';

.splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--max-layer);
    background-color: rgba(var(--background-color));
    color: rgba(var(--color));
    font-size: min(10vw, 10vh);
    transition-property: opacity, visibility;
    transition-duration: .1s;
    transition-delay: calc(var(--sidemenu-transition-duration) * 2);
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: var(--title-font);
    font-weight: bold;
    word-wrap: break-word;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit);
    margin: var(--unit) 0;
}

.control {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    min-width: 80px;
    padding: 0 var(--unit);
    height: 30px;
    border: var(--border);
    border-right: none;
    border-top: none;
    font-size: 1rem;
}

.control.counter {
    border-bottom-left-radius: var(--radius);
}