@import './mods.css';
@import './vars.css';
@import './reset.css';
@import './controller.css';
@import './sidemenu.css';
@import './media.css';

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    word-wrap: break-word;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit);
    margin: var(--unit) 0;
}

.counter {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 80px;
    height: 30px;
    border: var(--border-width) solid var(--border-color);
    border-right: none;
    border-top: none;
    font-size: 1rem;
    border-bottom-left-radius: var(--radius);
}