@import './vars.css';

.warning {
    background-color: var(--accent-color);
}

.with-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.with-border {
    border: var(--border);
}

.with-top-border {
    border-top: var(--border);
}