@import './mods.css';
@import './vars.css';
@import './reset.css';
@import './controller.css';
@import './sidemenu.css';
@import './media.css';

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: var(--title-font);
    font-weight: bold;
    word-wrap: break-word;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit);
    margin: var(--unit) 0;
}

.control {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    min-width: 80px;
    padding: 0 var(--unit);
    height: 30px;
    border: var(--border);
    border-right: none;
    border-top: none;
    font-size: 1rem;
}

.control.counter {
    border-bottom-left-radius: var(--radius);
}